<app-header></app-header>
<div class="container-fluid bg" style="background-image: url(assets/bg.jpg);">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h3 style=" color: white;">Fill The Information:</h3><br>
      <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
        <input type="text" size="40px" name="fname" placeholder="Fname" ngModel>
        <br><br>
        <input type="text" size="40px"  name="lname" placeholder="Lname" ngModel>
        <br><br>
        <input type="text" size="40px" name="email" placeholder="Email" ngModel>
        <br><br>
        <input type="text" size="40px" name="contact" placeholder="Contact No." ngModel>
        <br><br>
        <input type="text" size="40px" name="city" placeholder="City" ngModel>
        <br><br>
        <input type="text" size="40px" name="state" placeholder="State" ngModel>
        <br><br>

       <p> <button type="submit">Submit</button></p>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>

<app-footer></app-footer>